<style>
    .feedbacks-box{
        width: 60%;
        margin: auto;
        margin-top: 2rem;
        border: 2px solid black;
    }

    .feedback-box{
        border: 1px solid gray;
        margin: 10px;
        background: rgba(250, 235, 215, 0.549);
        padding: 10px;
        line-height: 90%;
    }
</style>

<div class="feedbacks-box">
    <h2>User Feedbacks</h2>
    {{#with feedbackss}}

    {{#each feedbacks}}
    <div class="feedback-box">
        <p><small>Name: {{this.name}}</small></p>
        <p><small>Email: {{this.email}}</small></p>
        <p><small>Phone: {{this.phone}}</small></p>
        <p>Message: {{this.message}}</p>
    </div>
    {{/each}}
    {{/with}}
</div>
