
<style>
  .fop-box{
     background: rgba(222, 184, 135, 0.782);
     width:40%;
     padding: 20px 20px;
     margin: auto;
     margin-top: 6rem;
     border-radius: 5px;
     -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
               -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
               -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
               -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
               box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  
  }
  .btn-box1{
    text-align: center;
  }
  .fop-box h2{
    text-align: center;
    color: brown;
  }
  .error{
    color: red;
  }
  @media screen and (max-width: 850px) {
    .fop-box{
      width: 80%;
    }
  }
  @media screen and (max-width: 480px) {
    .fop-box {
      width: 90%;
      padding: 30px 10px;
    }
  }
</style>

<form action="/user/forgotpassword" method="post">


  <div class="form-group fop-box">
    <h2>Update Password</h2>
    {{#if status}}
   <p class="error">⚠️Invalid email</p>
  {{/if}} 
    <label for="exampleInputEmail1">User Name</label>
    <div class="input-group">
                            <div class="input-group-addon bg-warning pt-2 text-center" style="height:2.37rem; width: 1.5rem;">
                                <i class="fa-solid fa-user"></i> 
                            </div>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="User Name" name="username" >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <div class="input-group">
                            <div class="input-group-addon bg-warning pt-2 text-center" style="height:2.37rem; width: 1.5rem;">
                                <i class="fa-solid fa-lock"></i> 
                            </div>
    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required onchange="checkPassword()">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <div class="input-group">
                            <div class="input-group-addon bg-warning pt-2 text-center" style="height:2.37rem; width: 1.5rem;">
                                <i class="fa-solid fa-lock"></i> 
                            </div>
    <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm-Password" name="confirmpassword" required onchange="checkPassword()">
  </div>
  <label class="form-check-label ml-4">
    <input type="checkbox" class="form-check-input" value="" id="Checkbox">Check
  </label>
 <div class="btn-box1">
    <button type="submit" class="btn btn-primary mt-5" id="Button">Submit</button>
 </div>
</form>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="exampleModalLabel">Check</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Check your passwords (your Passwords not matching)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<script>
document.getElementById("Button").disabled=true
  const getPassword=()=>{
    var password= document.getElementById("password").value;
  }

  const checkPassword=()=>{
    const password= document.getElementById("password").value;
    const confirmpassword= document.getElementById("confirmpassword").value;
    document.getElementById("Button").disabled=true
    document.getElementById("Checkbox").checked=false
    if(password===confirmpassword){
     document.getElementById("Button").disabled=false
  }
  else if(confirmpassword === '' || password === ''){
    document.getElementById("Button").disabled=true
  }else{
    document.getElementById("Button").disabled=true
    $(document).ready(function(){
    $("#myModal1").modal();
});
  }
  }
</script>


